.footer {
  position: static;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1em;
  background-color: #1D1D1D;
  text-align: center;
}

.footerLogo {
  height: 0em;
  width: 0em;
}

@media screen and (max-width: 560px) {
  .footer {
  	font-size: 2em;
  }

  .footerLogo {
    height: 7em;
    width: 7em;
  }
}