.navigation {
	margin: none;
	position: static;
	height: 6em;
	font-size: 1.5em;
	background: linear-gradient(to bottom, #16425b, #1f282d);
	border-top: 1px solid #1f282d;

	li{
		display: inline;
		list-style: none;
		padding: 0em 1em 1em 0em;
	}
}
